<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <h3><b>Parent Component Here</b></h3>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-12">What do you wanna say?</label>
            <div class="col-xs-12">
                <input type="text" style="margin-right: 10px;" [(ngModel)]="parentSays">
                <button 
                    class="btn btn-danger"
                    [disabled]="!parentSays"
                    (click)="clearInput()">Clear</button>
                <p><b>Imma say "{{ parentSays }}" to my child!</b></p>
                <br>
                <button 
                    class="btn btn-primary"
                    [disabled]="!parentSays"
                    (click)="btnSendToChild()">Send message to ur child</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <h2 class="col-xs-12">My child says: {{ childSays }}</h2>
        </div>
    </div>
    <div class="col-md-6">
        <app-child [receivedParentMessage]="transmitToChild" (messageToEmitToParent)="getMessage($event)"></app-child>
    </div>
</div>

                                    